<!--User Page Create Event-->
<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
<h2>Create a Event</h2>
  <div class="row">

    <form>

      <div class="form-group col-md-12">
        <label for="formEventInput">Event Name</label>
        <input class="form-control" id="formNameInput"  type="text" name="name"
        placeholder="Event Name" ng-model="event.event_name">
      </div>
      <div class="form-group col-md-12">
        <label for="formDescriptionInput">Event Description</label>
        <input class="form-control" id="formDescriptionInput"  type="text"
        name="description" placeholder="Event Description" ng-model="event.event_description">
      </div>
      <div class="form-group col-sm-6">
        <label for="formStartingInput">Starting Date</label>
        <input class="form-control" id="formStartingInput" type="date" name="starting" placeholder="Starting Date"
        ng-model="event.starting_date">
      </div>
      <div class="form-group col-sm-6">
        <label for="formEndingInput">Ending Date</label>
        <input class="form-control" id="formEndingInput" type="date" name="ending" placeholder="Ending Date"
        ng-model="event.ending_date">
      </div>
    </form>

  </div>
  <button class="btn btn-default" type="button" ng-click="ec.createEvent(event)">Create Event</button>
<br>
<br>

<h2>Invite People</h2>
<div class="row">
<div class="input-group">
<input class="form-control" type="text" name="search users" ng-model="search_users" placeholder="Search...">
</div>
<button class="btn btn-success" ng-click="ec.editThisEvent(event)">Add New User</button>
</div>

<div class="row">
<table class="table table-hover"
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr ng-repeat="user in ec.userObject.users">
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td><button class="btn btn-success" ng-click="ec.inviteThisPerson(user)">+</button><td>
  </tr>
</table>
  </div>
