<!--User Page Create Event-->
<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
    <form>
      <div class="form-group">
        <label for="formAttendingInput">Event Name</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending" placeholder="Number Attending" ng-model="ec.data.selectedEvent.number_attending">
        <button class="btn btn-default" type="button" name="button" ng-click="ec.rsvpEvents(ec.data.selectedEvent)">Submit RSVP</button>
      </div>
      <div class="form-group">
        <label for="formAttendingInput">Event Description</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending" placeholder="Number Attending" ng-model="ec.data.selectedEvent.number_attending">
        <button class="btn btn-default" type="button" name="button" ng-click="ec.rsvpEvents(ec.data.selectedEvent)">Submit RSVP</button>
      </div>
      <div class="form-group">
        <label for="formArrivalInput">Starting Date</label>
        <input class="form-control" id="formArrivalInput" type="date" name="arrival" placeholder="Arrival Date"
        ng-model="ec.data.selectedEvent.arrival_date">
      </div>
      <div class="form-group">
        <label for="formDepartureInput">Ending Date</label>
        <input class="form-control" id="formDepartureInput" type="date" name="departure" placeholder="Departure Date" ng-model="ec.data.selectedEvent.departure_date">
      </div>
      <button type="button" name="button">Create Event</button>
    </form>
  </div>
