<!--Admin Event Edit Page-->
<!--User Page Event RSVP-->
<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
    <form>
      <div class="form-group">
        <label for="formEventInput">Event Name</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending"
        placeholder="{{ec.data.selectedEvent.event_name}}">
      </div>
      <div class="form-group">
        <label for="formEventDescriptionInput">Event Description</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending"
        placeholder="{{ec.data.selectedEvent.event_description}}">
      </div>
      <div class="form-group">
        <label for="formStartingDateInput">Starting Date</label>
        <input class="form-control" id="formArrivalInput" type="date" name="starting"
        placeholder="mm/dd/yyyy">
      </div>
      <div class="form-group">
        <label for="formEndingDateInput">Ending Date</label>
        <input class="form-control" id="formDepartureInput" type="date" name="ending"
        placeholder="mm/dd/yyyy">
      </div>
        <button class="btn btn-default" type="button" name="button" ng-click="ec.editEvent(ec.data.selectedEvent)">Update Event Details</button>

    </form>
  </div>
