<!--Admin Event Edit Page-->
<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
<div class="row">
    <form>
      <div class="form-group">
        <label for="formEventInput">Event Name</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending"
        ng-model="ec.data.selectedEvent.event_name">
      </div>
      <div class="form-group">
        <label for="formEventDescriptionInput">Event Description</label>
        <input class="form-control" id="formAttendingInput"  type="text" name="attending"
        ng-model="ec.data.selectedEvent.event_description">
      </div>
      <div class="form-group">
        <label for="formStartingDateInput">Starting Date</label>
        <input class="form-control" id="formArrivalInput" type="date" name="starting"
        ng-model="ec.data.selectedEvent.starting_date">
      </div>
      <div class="form-group">
        <label for="formEndingDateInput">Ending Date</label>
        <input class="form-control" id="formDepartureInput" type="date" name="ending"
        ng-model="ec.data.selectedEvent.ending_date">
      </div>
        <button class="btn btn-default" type="button" name="button" ng-click="ec.editEvent(ec.data.selectedEvent)">Update Event Details</button>

    </form>
</div>
  </div>
