<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
  <div class="row">
<div class="col-sm-6">
  <h2>Select an event</h2>
<select id="soflow" ng-options="event.event_name + ' | ' + (event.starting_date|date:'MMM/dd') + ' - ' + (event.ending_date|date:'MMM/dd') for event in ec.allEventsObject.events"
 ng-model="event" ng-change="ec.getPeopleAttendingEvent(ec.dropdownChange(event))">
</select>
</div>

  <div class="col-sm-6">
    <h2>Who's Been Invited?</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in ec.allInvitedObject.invitedPeople">
        <td>{{person.first_name}}</td>
        <td>{{person.last_name}}</td>
        <td>{{person.email}}</td>
      </tr>
      </tbody>
      </table>
  </div>
</div>
<h2>Invite People</h2>

<!-- <div class="input-group">
<input class="form-control" type="text" name="search users" ng-model="search_users" placeholder="Search...">
</div> -->
<table class="table table-hover">
<thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Invite to Event</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="user in ec.userObject.users">
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td><button class="btn btn-success" ng-click="ec.inviteThisPerson(user)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button><td>
  </tr>
</tbody>
</table>
</div>
</div>
