<!--User Registration Page-->
<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="first_name" class="form-control" ng-model="lc.user.first_name" />
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="last_name" class="form-control" ng-model="lc.user.last_name" />
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" ng-model="lc.user.username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" ng-model="lc.user.password" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" ng-model="lc.user.email" />
    </div>

    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>

</div>
