<!--User Page Event RSVP-->
<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
  <h1>{{ac.data.selectedEvent.event_name}}<h1>
    <h2>{{ac.data.selectedEvent.starting_date | date}} - {{ac.data.selectedEvent.ending_date | date}}</h2>
    <h3>{{ac.data.selectedEvent.event_description}}</h3>


      <h2>Who's Attending?</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Attending Dates</th>
          <th>Number Attending</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in ac.peopleArray">
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.email}}</td>
          <td>{{person.number_attending}}</td>
        </tr>
        </tbody>
        </table>

</div>
